// custom shit
.c-main-title a {
    text-decoration: underline;
    text-decoration-color: $grey-lighter;
}

.c-slide-inter { background-color: $grey-light; }

.c-slide-task {
    background-color: lighten($green, 30%);
    color: $black;
}

.content {
    font-size: $size-medium;

    q { font-style: italic; }

    kbd {
        padding: 2px 5px;
        min-width: 1.5em;
        text-align: center;
        display: inline-block;
        background: #0D6AB7;
        color: #fff;
        line-height: 105%;
        border-radius: 4px;
        font-weight: bold;
    }

    .c-url {
        text-align: left;
        font-size: 0;
        font-family: $family-monospace;
        font-weight: bold;

        b {
            font-size: $size-5;
            display: inline-block;
        }
    }

    @mixin c-side-mark($content) {
        display: block;
        position: absolute;
        top: 0;
        left: -1em-0.2em;
        line-height: 1em;
        font-size: 0.8rem;
        font-family: $family-primary;
        color: $grey-light;
        background-color: $white;
        text-align: right;
        transform: rotate(-90deg) translate(-100%);
        transform-origin: 0 0;
        content: $content;
        padding: 0.2em 0.6em;
    }

    .c-example {
        font-size:2rem;
        font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
        background-color: lightyellow;
        padding: 1em;
        position: relative;
        margin-bottom: 1em;

        &:before {
            @include c-side-mark("ukázka");
            background-color: lightyellow;
        }
    }

    code {
        font-size: 1em;
        line-height: 1.05;
        padding: 0.1em 0.2em;
        color: $black-bis;
        font-weight: $weight-bold;
    }

    .lang-css:before { @include c-side-mark('CSS'); }

    .lang-html:before { @include c-side-mark('HTML'); }

    .lang-javascript:before,
    .lang-js:before { @include c-side-mark('js'); }

    .lang-shell:before { @include c-side-mark('shell'); }

    .lang-python:before { @include c-side-mark('python'); }

    .lang-json:before { @include c-side-mark('json'); }

    .lang-django:before { @include c-side-mark('jinja2'); }

    pre {
        tab-size: 4;
        white-space: pre-wrap;
        position: relative;
    }

    pre code {
        font-size: $size-large;
        padding: 0.5em;
        font-weight: normal;
        margin-bottom: 1em;
    }

    details {
        padding: 0.75em;
        margin-bottom: 1em;
    }

    summary {
        cursor: pointer;
        font-weight: bold;
        outline: 0 none;
        user-select: none;
    }

    details[open] { background-color: hsla(0, 0%, 100%, 0.5); }

}
