.example-overriding {
    p {
        color: red;
        background-color: pink;
    }

    p { color: green; }
}

.example-mutliple-selectors {
    h1,
    h2 { color: green; }
}

.example-context-selectors {
    .tip h2 { color: blue; }
}

.example-classes-1 {
    p { color: blue; }
}

.example-classes-2 {
    .tip { color: blue; }
}

.example-classes-3 {
    h1.tip { color: blue; }

    p.tip { color: deepskyblue; }
}

.example-multiple-classes-1 {
    .tip { color: red; }

    .cool { background-color: skyblue; }
}

.example-multiple-classes-2 {
    .tip { color: red; }

    .cool { background-color: skyblue; }

    .tip.cool { text-align: center; }
}

.example-link {
    a { color: navy; }

    a:link { color: blue; }
    /* nenavštívený */

    a:visited { color: purple; }
    /* navštívený */

    a:hover { color: red; }
    /* najetí myší */

    a:focus { color: green; }
    /* aktivace klávesnicí nebo myší */

    a:active { color: yellow; }
    /* při kliknutí nebo aktivaci jiným způsobem */

}

.example-before-after {
    p::before {
        content: '☎';
        color: red;
        margin-right: 0.3em;
    }

    p::after {
        content: '';
        height: 1em;
        width: 10em;
        display: inline-block;
        background-color: green;
        vertical-align: middle;
    }
}

.example-specificity {
    .tip { color: red; }

    p {
        color: green;
        background-color: lightgray;
    }

    div p {
        color: blue;
        font-style: italic;
    }
}

.example-block-elements {
    div { background-color: orange; }

    p { background-color: cyan; }
}

.example-inline-elements {
    span { background-color: orange; }

    strong { background-color: cyan; }
}

.example-overflow,
.example-overflow-hidden,
.example-overflow-auto {
    div {
        background-color: orange;
        width: 500px;
        height: 110px;
    }
}

.example-overflow-hidden {
    div { overflow: hidden; }
}

.example-overflow-auto {
    div { overflow: auto; }
}

.example-fluid {
    div {
        width: 50%;
        height: 100px;
        background-color: orange;
    }

    p {
        width: 400px;
        height: 100px;
        background-color: cyan;
    }
}

.example-inline-dimensions {
    span {
        width: 100%;
        height: 100px;
        background-color: cyan;
        margin-top: 1000px;
        margin-bottom: 1000px;
        padding-bottom: 50px;
    }
}

.example-border-simple {
    div {
        border: 2px solid black;
    }
}

.example-border {
    div {
        background-color: silver;
        border-top: 20px solid red;
        border-bottom-width: 10px;
        border-bottom-style: dotted;
        border-bottom-color: black;
    }
}

.example-padding-simple {
    div {
        border: 2px solid black;
        padding: 25px;
    }
}

.example-padding-2 {
    div {
        border: 2px solid black;
        padding: 10px 100px;
    }
}

.example-padding-3 {
    div {
        border: 2px solid black;
        padding: 10px 100px 50px;
    }
}

.example-padding-4 {
    div {
        border: 2px solid black;
        padding: 10px 100px 50px 200px;
    }
}

.example-margin-1 {
    div {
        border: 2px solid black;
        padding: 25px;
        margin: 40px;
    }
}

.example-margin-2 {
    p {
        background-color: cyan;
        margin: 40px;
    }
}

.example-inline2block {
    span {
        display: block;
        background-color: yellow;
        margin-bottom: 20px;
    }
}

.example-block2inline {
    div {
        display: inline;
        background-color: yellow;
        margin: 20px;
    }
}

.example-inline-block {
    p {
        display: inline-block;
        width: 40%;
        background-color: yellow;
        margin: 5%;
    }
}

.example-display-none-visibility-hidden {
    span { visibility: hidden; }

    p { display: none; }
}

.example-content-box {
    div {
        box-sizing: content-box;
    }
}

.example-content-box,
.example-border-box {
    div {
        background-color: yellow;
        display: inline-block;
        width: 50%;
        border: 10px solid black;
        padding: 10px;
    }
}